body {
  background: #000;
  font-family: helvetica, sans-serif;
  margin: 0;
	color: #fff;
}

a{
  text-decoration: none;
  color: #666;
}
h1 {
  text-align: center;
}

/* #page{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around; // space-between est pas mal aussi
} */

svg{
  margin: 0px;
  /* border: solid 1px #888; */
}
#parchemin{
  width: 85vw;
  /* width: 780px; */
  padding: 35px;
  margin: auto;
  background-image: url('../img/fond-parchemin.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
#appControler{
  margin: auto;
  width: 90%;
  /* padding-top: 10px; */
  font-size: 1.5em;

  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

#appSliders{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.button {
  -webkit-appearance: none; /* supprime sur iPad l'apparence par défaut du bouton et permet de le personnaliser */
  background-color: #555;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 10px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: white;
  color: black;
}

.slidecontainer{
    border: solid 1px white;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
}

.slider{
  -webkit-appearance: none;
  height: 15px;
  margin-top: 20px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  display: inline;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f44336;
  cursor: pointer;
  border: solid 1px white;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f44336;
  cursor: pointer;
  border: solid 1px white;
}

.impression{
  display: none;
}
.paperGenome{
  color: #555;
}

/* override styles when printing */
@media print {

  body {
    background: #fff;
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
  	color: #000;
  }

  a{
    text-decoration: none;
    color: #000;
  }
  h1{
    display:none;
  }

  #parchemin{
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: transparent;
  }
  #zone, #page {
    margin: 0;
    padding: 0;
  }
  #structure{
    transform: scale(.8);
  }
  #appControler{
    display:none;
  }

  #appSliders{
    display:none;
  }
  .segment{
    fill: black;
    color: black;
    stroke: black;
  }
  .impression{
    display: block;
  }
  #logo{
      width: 300px;
  }
  .paperGenome{
    color: black;
  }
  .paperGenome::before{
    content: "code: ";
  }
}
